//***** Body styles *****//
@font-face {
	font-family: 'San Francisco';
	src: url('../SF-UI/SF-UI-Text-Regular.otf');
}

* {
	font-family: 'San Francisco';
}

body {
	padding-top: 70px;
	background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/SMPTE_Color_Bars.svg/2000px-SMPTE_Color_Bars.svg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body h1 {
	font-family: 'San Francisco';
	font-size: 3em;
	font-weight: 600;
	color: black;
}

td {
	background-color: black;
	opacity: .95;
	border: 1px solid white;
}

td a {
	padding-left: 83px;
}

a.btn-danger {
	margin-left: 29px;
}

i {
	padding-left: 6px;
	padding-right: 6px;
}

.cal {
	background-color: white;
}

.navbar-brand {
	font-family: 'San Francisco';
}

.btn-raised {
	font-weight: 500;
}

.jumbotron {
	font-family: 'San Francisco';
	text-align: center;
}

.jumbotron h3 {
	font-family: 'San Francisco';
}

.well {
	font-family: 'San Francisco';
	text-align: center;
	font-size: 3em;
	font-color: black;
}

#search-heading {
	color: white;
}


.login-modal h2 {
	font-family: 'San Francisco';
	padding-top: 0;
}


.search__inputDiv {
	background-color: white;
}

#search__area {
	background-color: white;
	font-size: 1.5em;
}

#search-title {
	font-size: 1.6em;
}

#search-area span p {
	font-size: 1.5em;

}

#discover-div {
	background-color: white;
	font-size: 1.5em;
}

#title__field {
	color: black;
	margin-top: 50px;
	font-size: 1.8em;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

#search-result__primary {
	color: black;
	margin-top: 70px;
}

#search-plot {
	font-size: 1.05em;
	padding-top: 40px;
}

#binge-watch {
	height: 150px;
	width: 400px;
	margin-left: 95px;
	display: inline;
}

#pipeline-heading h2 {
	font-family: 'San Francisco';
	font-weight: 600;
	text-align: center;
	padding-bottom: 18px;
	background-color: white;
	border: 1px solid black;
}

#pipeline-button {
	// margin-left: 100px;
}

.pipeline-poster {
	padding-left: 8px;
}

#detail__area {
	background-color: white;
	font-size: 1.25em;
}

#detail__area img, h2 {
	padding-left: 40px;
	padding-top: 20px;
}

#detail__area-info div {
	padding-left: 40px;
	padding-bottom: 20px;
}

.date-field {
	background-color: white;
	padding-left: 26px;
}

.date-field h4 {
	font-family: 'San Francisco';
	font-size: 2em;
	font-weight: 600;
	padding-top: 8px;
}

.modal-content {
	font-size: 1.25em;
}

.animate-enter, 
.animate-leave { 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.animate-leave.animate-leave-active,
.animate-enter {
    -webkit-transform: rotateX(90deg) rotateZ(90deg);
    -moz-transform: rotateX(90deg) rotateZ(90deg);
    -ms-transform: rotateX(90deg) rotateZ(90deg);
    -o-transform: rotateX(90deg) rotateZ(90deg);
    transform: rotateX(90deg) rotateZ(90deg);
    opacity: 0;
    height: 0px;
}        
 
.animate-enter.animate-enter-active,
.animate-leave {
    -webkit-transform: rotateX(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateZ(0deg);
    -o-transform: rotateX(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateZ(0deg);
    opacity: 1;
    height: 30px;
}