<div ng-controller="NavbarCtrl as navbarCtrl" ng-include="'partials/navbar.html'"></div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 cal">

  
  <button
  class="btn btn-material-blue-900"
  mwl-date-modifier
  date="calendarCtrl.calendarDay"
  decrement="calendarCtrl.calendarView">
  < Last
	</button>

	<button
	  class="btn btn-material-green-500"
	  mwl-date-modifier
	  date="calendarCtrl.calendarDay"
	  set-to-today>
	  Today
	</button>

	<button
	  class="btn btn-material-blue-900"
	  mwl-date-modifier
	  date="calendarCtrl.calendarDay"
	  increment="calendarCtrl.calendarView">
	  Next >
	</button>	

	<h2>{{ calendarCtrl.calendarTitle }}</h2>

	<mwl-calendar
		id="calendar"
    view="calendarCtrl.calendarView"
    current-day="calendarCtrl.calendarDay"
    events="calendarCtrl.events"
    view-title="calendarCtrl.calendarTitle"
    on-event-click="calendarCtrl.eventClicked(calendarEvent)"
    on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
    calendar-control
    edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
    on-edit-event-click="eventEdited(calendarEvent)"
    on-delete-event-click="eventDeleted(calendarEvent)"
    cell-is-open="true">
	</mwl-calendar>
		
		
  </div>
</div>