<nav ng-controller="NavbarCtrl as navbarCtrl" class="navbar navbar-material-blue-900 navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/"><i class="material-icons">today</i></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      
    <ul class="nav navbar-nav navbar-right">
      <li ng-if="navbarCtrl.authData"><a ng-click="navbarCtrl.logout()" role="button">LOGOUT</a></li>
      <li> 
        <div class="dropdown">
            <button ng-controller="NavbarCtrl as navbarCtrl" ng-if="navbarCtrl.authData" class="btn btn-material-blue-900 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">MENU
            <!-- <span class="caret"></span> -->
            </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#/search">Search for Shows</a></li>
            <li><a href="#/profile">Go to Binge Pipeline</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>