<div ng-controller="WelcomeCtrl as welcomeCtrl" ng-include="'partials/navbar.html'"></div>

<div class="row">
	<div class="col-md-12">
		<h2>Your Binge Pipeline</h2>

		<table class="table">

      <tr>
        <th>SHOW</th>
        <th>CAST</th>
        <th>PLOT</th>
        <th>YEAR</th>
      </tr>

      <tr class="info" ng-repeat="show in profileCtrl.showsArray" ng-model="profileCtrl.showsArray">
        <td>{{ show.title }}</td>
        <td>{{ show.cast }}</td>
        <td>{{ show.plot }}</td>
        <td>{{ show.year }}</td>
      </tr>

    </table>


	</div>
</div>