<div ng-controller="WelcomeCtrl as welcomeCtrl" ng-include="'partials/navbar.html'"></div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		
		<div id="detail__area">
    	<img ng-src="{{ showDetailCtrl.selectedShow.poster }}"/>
	    <h2><strong>{{ showDetailCtrl.selectedShow.title }}</strong></h2>
	    <div>{{ showDetailCtrl.selectedShow.plot }}</div>
	    <br>
	    <div><span><strong>CAST: </strong>{{ showDetailCtrl.selectedShow.cast }}</span></div>
	    <div><span><strong>AIRED: </strong>{{ showDetailCtrl.selectedShow.year }}</span></div>
	  </div>

	
		<h4>Schedule A Binge</h4>
  	<div>
  		<span>START DATE</span>
  		<input class="form-control" ng-change="showDetailCtrl.addBingeDates()" placeholder="Enter start date as YYYY-MM-DD" type="text" name="input" ng-model="showDetailCtrl.selectedShow.startDate" />
  	</div>
		<!-- Add datepicker here to store watch dates in given TV show object -->

		<!-- <div>START DATE
			<span>{{ showDetailCtrl.selectedShow.startDate }}</span>
		</div>
 --><div>
 			<span>END DATE</span>
			<input class="form-control" ng-change="showDetailCtrl.addBingeDates()" placeholder="Enter end date as YYYY-MM-DD" type="text" name="input" ng-model="showDetailCtrl.selectedShow.endDate" />
		</div>
		<!-- <div>END DATE
			<span>{{ showDetailCtrl.selectedShow.endDate }}</span>
		</div> -->

		<a href="#/calendar" class="btn btn-success" ng-show="showDetailCtrl.startDate !== '' && showDetailCtrl.endDate !== ''" role="button">GO TO BINGE CALENDAR!</a>
	
	</div>
</div>