<div ng-controller="WelcomeCtrl as welcomeCtrl" ng-include="'partials/navbar.html'"></div>

<div class="row">
	<div class="col-md-8">
		<h2>Discover Shows to Binge On</h2>
		<input id="search__field" type="text" class="form-control" ng-model="searchCtrl.search" ng-change="searchCtrl.change()" placeholder="Enter full show title"/>

		<div id="search-result__primary" ng-if="searchCtrl.tvData.Response === 'True'">
			<img ng-src="{{ searchCtrl.tvData.Poster == 'N/A' ?  
                'http://placehold.it/150x220&text=N/A' : 
                'http://imdb.wemakesites.net/api/1.0/img/?url=' + searchCtrl.tvData.Poster }}">
			<span><a href="http://imdb.com/title/{{ searchCtrl.tvData.imdbID }}" target="_blank">{{ searchCtrl.tvData.Title }}</a> {{ searchCtrl.tvData.Year }}</span> 
			<p>{{ searchCtrl.tvData.Plot }}</p>
			<button class="btn btn-primary" type="submit" ng-click="searchCtrl.addTvShow()">BINGE</button>
		</div>


	</div>
</div>