<div ng-controller="WelcomeCtrl as welcomeCtrl" ng-include="'partials/navbar.html'"></div>

<div class="row">

	<div class="col-md-8 col-md-offset-2 search__inputDiv">
		<h1 id="search-heading" class="well well-lg well-material-blue-900">FIND YOUR NEXT BINGE</h1>
		
		<div id="search-container">
			<input id="title__field" type="text" class="form-control" ng-model="searchCtrl.search" ng-change="searchCtrl.change()" />
		</div>
		
		<div id="search__area">
			<div id="search-result__primary" ng-if="searchCtrl.tvData.Response === 'True'">
				<img id="poster-image" />
				<span><a id="search-title" href="http://imdb.com/title/{{ searchCtrl.tvData.imdbID }}" target="_blank">{{ searchCtrl.tvData.Title }}</a> {{ searchCtrl.tvData.Year }}</span> 
				<p id="search-plot">{{ searchCtrl.tvData.Plot }}</p>
				<button class="btn btn-material-blue-900" type="submit" ng-click="searchCtrl.addTvShow()">BINGE</button>
				<button class="btn btn-warning" ng-click="searchCtrl.clear()">CLEAR</button>
			</div>
		</div>
		<div id="pipeline-button">
			<a href="#/profile" class="btn btn-raised btn-large btn-material-yellow-900"><div><i class="material-icons">account_circle</i></div>Go to Binge Pipeline</a>
		</div>

		
	
	</div>
</div>


