<div ng-include="'partials/navbar.html'"></div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<header>
			<div>
				<div ng-include="'partials/jumbotron.html'"></div>
			</div>
		</header>
		<body>
			<div class="well">
				<a href="" class="btn btn-material-blue-900" ng-click="welcomeCtrl.showLoginForm()">LOG IN</a> or <a href="" class="btn btn-material-blue-900" ng-click="welcomeCtrl.showRegisterForm()">CREATE AN ACCOUNT</a> 
			</div>
		</body>
		<footer>
		</footer>
	</div>
</div>